doctype xml
svg width=badge_width height=badge_height xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
  rect x="0" y="0" width=badge_width height=badge_height style="fill:#555"
  rect x=number_width y="0" width=state_width height=badge_height style="fill:##{issue.state_color}"
  rect x=number_width+state_width y="0" width=badge_width height=badge_height style="fill:#999"
  image x=number_width+state_width y="0" width=icon_size height=icon_size xlink:href=(issue.assignee_avatar_url || issue.user_avatar_url)
  - issue.labels.each_with_index do |label,i|
    rect x=number_width+state_width+icon_size+label_width*i y="0" width=label_width height=badge_height style="fill:##{label.color}; fill-opacity: 0.9"
  linearGradient id="cover" x1="0%" y1="0%" x2="0%" y2="100%"
    stop offset="0%" stop-color="#bbb" stop-opacity="0.10"
    stop offset="100%" stop-color="#000" stop-opacity="0.10"
  rect x="0" y="0" width=badge_width height=badge_height style="fill:url(#cover)"
  g style="fill:#fff; text-anchor:middle; font-family:DejaVu Sans,Verdana,Geneva,sans-serif; font-size:11"
    text x=number_width/2-2 y="15" style="fill:#010101; fill-opacity: .3"
      | ##{issue.number}
    text x=number_width/2-2 y="14"
      | ##{issue.number}
    text x=number_width+state_width/2 y="15" style="fill:#010100; fill-opacity: .3"
      =issue.state
    text x=number_width+state_width/2 y="14"
      =issue.state
